
body{
    background-color: var(--color-fondo2);
}

.tarjeta-fondo{
    width: 430px;
    height: 200px;
} 

.tarjeta-contenedor{
    width: 100%;
    height: 190px;
    box-sizing: border-box;
}

.tarjeta-fondo:hover{
    background-color: var(--color-secundario);
}

.imagen_perfil-contenedor{
    border-radius: 10px;
    overflow: hidden;
    min-width: 150px;
    height: 150px;
}

.imagen_perfil-contenedor img{
    width: 150px;
    height: 150px;
}

.informacion_autor-contenedor{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 355px;
}

.informacion_autor-contenedor h3{
    font-size: 25px;
    width: 200px;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.informacion_autor-contenedor p{
    font-size: 15px;
    margin-top: 10px;
}

.informacion_autor-contenedor .datos-contenedor {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
 }
 
.informacion_autor-contenedor .boton-contenedor {
   height: 30px;
}

.informacion_autor-contenedor a{
    margin-left: calc(100% - 150px);
}

