
body{
    background-color: var(--color-fondo2);
}

.tarjeta-fondo{
    width: 100%;
    min-width: 300px;
    max-width: 430px;
    height: 300px;
}

.tarjeta-contenedor{
    width: 100%;
    height: 290px;
}

.tarjeta_libro-fondo:hover{
    background-color: var(--color-secundario);
}

.informacion_libro-contenedor{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 400px;
}


.informacion_libro-contenedor h3{
    font-size: 25px;
}

.informacion_libro-contenedor p{
    font-size: 15px;
    margin-top: 10px;
}

.informacion_libro-contenedor .datos-contenedor {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
}
 
.informacion_libro-contenedor .otros-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    width: 100%;
}

.informacion_libro-contenedor .otros-contenedor h3 {
    width: 75px;
}

/* .informacion_libro-contenedor .otros-contenedor a{
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    text-decoration: none;
}



.informacion_libro-contenedor .otros-contenedor a:hover{
    background-color: var(--color-secundario);
}

.informacion_libro-contenedor a i{
    color: var(--color-fondo);
    margin-left: 5px;
} */


