.menu-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 var(--padding);
    background-color: var(--color-fondo);
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    color: var(--color-fondo);
    z-index: 2;
}

.menu-contenedor h3{
    font-size: 30px;
}

.menu-contenedor h3:hover::before{
    content: "#";
    color: var(--color-terciario);
    margin-left: -21px;
}


.menu-contenedor ul{
    display: flex;
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
}

.menu-contenedor li{
    width: 100px;
    text-align: center;
}

.menu-contenedor li:hover{
    text-decoration: underline;
    text-decoration-color: var(--color-terciario);
    /* background-color: var(--color-principal);
    color: var(--color-fondo); */
}

.menu-contenedor a{
    line-height: 75px;

    text-decoration: none;
}